/*body{
    background-color: rgb(255, 255, 255);
    background-size: 100% 100%;
}*/

body{
    background-image: url(https://i.pinimg.com/736x/59/6b/8f/596b8fed52b2cedb3addf527c150534c.jpg);
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

.mifoto{
    border-radius: 10px;
    border: 5px solid beige
}

.titulos{
    font-family: cursive;
    color: white;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.911);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 300px;
    padding: 5px;
}

header{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 20px;
    border-color: aquamarine;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 30px;
    padding: 20px;
}

.right-text{
    border-radius: 10px;
    background-color: rgb(45, 45, 214);
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.right-text a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 10px;
}

div.right-text a:hover{
color: yellow;
border: 1px solid;
transition: 800ms;
border-radius: 60px;
}


.box-1{
width: 100px;
height: 100px;
background: lime;
padding: 50px;
margin: 20px;
}

.box-2{
    margin: 200px;
    width: 100px;
    height: 100px;
    background: lightcoral;
}


.border-1{
background: yellowgreen;
border: 5px solid red;
border-top-width: 200px;
border-top-color: transparent;
}

.border-2{
background: lightseagreen;
border-left-width: 5px;
border-left-style: dotted;
border-left-color: blue;
}

.border-3{
background: lightcoral;
border: 5px dashed blue;
}